################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/b2a.HelloWorld/obj
/b2a.HelloWorld/bin/Debug/net5.0
/b2a.SK.LearnCSharp/obj
/b2a.SK.Calculator
/b2a.SK.LearnCSharp/bin/Debug/net5.0
