################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/b2a.HelloWorld/obj
/b2a.HelloWorld/bin/Debug/net5.0
/b2a.SK.LearnCSharp/obj
/b2a.SK.Calculator
/b2a.SK.LearnCSharp/bin/Debug/net5.0
/B2A.DataCommunication/.vs
/B2A.DataCommunication/B2A.DataCommunication/bin/Debug/net6.0-windows
/B2A.DataCommunication/B2A.DataCommunication/obj
/B2A.ToDoItemsDemo/.vs
/B2A.ToDoItemsDemo/B2A.ToDoItemsDemo/bin/Debug/net6.0-windows
/B2A.ToDoItemsDemo/B2A.ToDoItemsDemo/obj
